<nav class="top-menu">
  <a class="top-menu__item " [routerLink]="[ '' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
  <a class="top-menu__item " routerLink="/profile/{{id}}" routerLinkActive="active">Профиль</a>
  <a class="top-menu__item " routerLink="/fishing" routerLinkActive="active">Рыбалка</a>
  <a class="top-menu__item " routerLink="/events" routerLinkActive="active">События</a>
  <a class="top-menu__item " routerLink="/fish" routerLinkActive="active">Рыба</a>

</nav>

