.footer {
  height: 65px;
  margin-top: -65px;
  background: #8190a3;
  color: #fff;
  padding: 1em 8rem;
}
.footer .footer__social .link {
  height: 35px;
  width: 45px;
}
.footer .footer__social .link:hover {
  color: #00b715;
}
