<footer class="footer grid">
  <div class="footer__copy col--1-2 flex flex--middle"> &copy; Copyright 2019 </div>
  <div class="footer__social col--1-2">
    <nav class="footer__social-nav flex flex--right">
      <a class="social__link link link--reset" href="https://twitter.com/"  [inlineSVG]="'./assets/svg/twitter.svg'">Twitter</a>
      <a class="social__link link link--reset" href="https://www.facebook.com"  [inlineSVG]="'./assets/svg/facebook.svg'">Facebook</a>
      <a class="social__link link link--reset" href="https://www.instagram.com/"  [inlineSVG]="'./assets/svg/instagram.svg'">Instagram</a>
    </nav>
  </div>
</footer>
