<div class="registration row justify--center align--center">
  <form class="form col" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="input-group row wrap align--baseline"
         *ngFor="let item of registrationInputs">
      <label class="label" [for]="item.input">{{item?.name}}</label>
      <input class="input"
             [id]="item.input"
             [formControlName]="item.input"
             [ngClass]="{ 'is-invalid': submitted && formFields[item.input].invalid }"
             [type]="item.type"
             [placeholder]="item.placeholder"
      />
      <div class="input-error" *ngIf="submitted && formFields[item.input].invalid">
        <span class="input-invalid" *ngIf="formFields[item.input].errors.required">
          {{item?.errorRequired}}
        </span>
        <span class="input-invalid" *ngIf="formFields[item.input].errors.email">
            {{item?.errorEmail}}
        </span>
        <span class="input-invalid" *ngIf="formFields[item.input].errors.minlength">
            {{item?.errorlength}}
        </span>
      </div>
    </div>

    <div class="button-group row justify--space-between">
      <button class="btn btn--gray" type="submit" [disabled]="loading" >Войти</button>
      <button class="btn btn--gray" type="button" (click)="goBack()">Назад</button>
    </div>

    <div class="col align--center">
      <p> Зарегистрироваться с помощью</p>
      <div class="social-group row justify--center">
        <a class="link icon--md" [inlineSVG]="'./assets/svg/facebookBtn.svg'"></a>
        <a class="link icon icon--md" [inlineSVG]="'./assets/svg/vkBtn.svg'"></a>
      </div>
    </div>

  </form>
</div>
