<div class="profile row wrap">
  <h1 class="title w--100">Мой профиль</h1>
  <section class="wrapper row justify--center w--40">
    <div class="avatar"
        [style.backgroundImage]="'url(' + (userAvatar || noAvatar) + ')'">
      <input class="d-none" type="file" accept=".png, .jpg, .jpeg" (change)="onChange($event)" #inputFile>
      <div class="btn-box col align--center justify--center" *ngIf="!userAvatar">
        <button class="avatar-btn" (click)="inputFile.click()">Загрузить</button>
      </div>
      <div class="btn-box col align--center justify--center" *ngIf="userAvatar">
          <button class="avatar-btn" (click)="inputFile.click()">Изменить</button>
          <button class="avatar-btn line-top" (click)="onDeleteAvatar()">Удалить</button>
      </div>
    </div>
  </section>
  <form class="form col w--30" [formGroup]="fisherForm" (ngSubmit)="onSubmit()">
    <div class="input-group row wrap align--baseline" *ngFor="let item of profileInputs">
      <label class="label" [for]="item.input"> {{item?.name}} </label>
      <input class="input"
             [id]="item.input"
             [formControlName]="item.input"
             [ngClass]="{ 'is-invalid': submitted && formFields[item.input].invalid }"
             [type]="item.type"
             [placeholder]="item.placeholder"/>
      <!-- Errors -->
      <div class="input-error" *ngIf="submitted && formFields[item.input].invalid">
        <span class="input-invalid" *ngIf="formFields[item.input].errors.pattern">
          {{item?.errorPattern}}
        </span>
        <span class="input-invalid" *ngIf="formFields[item.input].errors.email">
            {{item?.errorEmail}}
        </span>
      </div>
    </div>

    <div class="button-group row justify--space-between">
      <button class="btn btn--gray" type="submit" [disabled]="loading">Сохранить</button>
      <button class="btn btn--gray" type="button" (click)="goBack()">Назад</button>
    </div>

  </form>
</div>
