<div class="profile grid flex flex--middle">
  <form class="form col--1-3 push--1-3" [formGroup]="profilForm" (ngSubmit)="onSubmit()">
    
    <label class="label" for="firstName">Имя </label>
    <input 
     class="input"
     [ngClass]="{ 'is-invalid': submitted && formFields.firstName.errors }"
     type="text" 
     formControlName="firstName" 
     name="firstName"
     placeholder="Имя пользователя"
    />
    <div *ngIf="submitted && formFields.firstName.errors" class="invalid-feedback">
        <div *ngIf="formFields.firstName.errors.required"> Name is required</div>
    </div>

    <label class="label" for="lastName">Фамилия </label>
    <input 
     class="input"
     [ngClass]="{ 'is-invalid': submitted && formFields.lastName.errors }"
     type="text" 
     formControlName="lastName" 
     name="lastName"
     placeholder="Фамилия"
    />
    <div *ngIf="submitted && formFields.lastName.errors" class="invalid-feedback">
        <div *ngIf="formFields.lastName.errors.required"> Last Name is required</div>
    </div>
    
    <label class="label" for="phoneNumber">Телефон</label>
    <input
      class="input"
      [ngClass]="{ 'is-invalid': submitted && formFields.phoneNumber.errors }"
      formControlName="phoneNumber"
      type="phone"
      name="phoneNumber"
      placeholder="Телефон ( + ...)"    
    />
    <div *ngIf="submitted && formFields.phoneNumber.errors" class="invalid-feedback">
      <div *ngIf="formFields.phoneNumber.errors.required">phoneNumber is required</div>
    </div>

    <label class="label" for="location">Страна</label>
    <input
      class="input"
      [ngClass]="{ 'is-invalid': submitted && formFields.location.errors }"
      formControlName="location"
      type="text"
      name="location"
      placeholder="Страна"    
    />
    <div *ngIf="submitted && formFields.location.errors" class="invalid-feedback">
      <div *ngIf="formFields.location.errors.required">location is required</div>
    </div>

    <!-- <label class="label" for="city">Город</label>
    <input
      class="input"
      [ngClass]="{ 'is-invalid': submitted && formFields.city.errors }"
      formControlName="city"
      type="text"
      name="city"
      placeholder="Город"    
    />

    <div *ngIf="submitted && formFields.city.errors" class="invalid-feedback">
      <div *ngIf="formFields.city.errors.required">city is required</div>
    </div> -->

    <label class="label" for="birthday">Дата рождения</label>
    <input
      class="input"
      [ngClass]="{ 'is-invalid': submitted && formFields.birthday.errors }"
      formControlName="birthday"
      type="date"
      name="birthday"
       
    />
    <div *ngIf="submitted && formFields.birthday.errors" class="invalid-feedback">
      <div *ngIf="formFields.birthday.errors.required">Birth day is required</div>
    </div>

    
    <button class="btn btn--green" type="submit" [disabled]="loading" >Сохранить</button>
    <button class="btn btn--red" type="button" (click)="goBack()">Назад</button>
   
  </form>
</div>


