<header class="header block">
  <nav class="header-nav grid">
    <div class="col--1-3 ">
      <a class="header-nav__logo link link--reset position--r" routerLink="/" [inlineSVG]="'./assets/svg/fish.svg'" > Our Fishing </a>
    </div>
    <ul class="col--1-3 flex flex--middle">
      <!-- <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/">Galery</a></li>
      <li><a routerLink="/">Prople</a></li>
      <li><a routerLink="/">Contacts</a></li> -->
    </ul>
    <div class="col--1-3 flex flex--right">
      <button class="btn btn--md btn--green ">Sing In</button>
      <button class="btn btn--md btn--green ">Sing Up</button>
    </div>
  </nav>
</header>
