@import '../../../../web-src/less/variables.less';

.header {
    // height: 80px;
    background: @color-gray-light;
    color: @color-white;
    align-items: center;
    
    & &-logo{
        padding: 1.5rem;
        &__link{
            font-size: 1.5rem;
            line-height: 1.2;
            font-weight: 500;
        }

        // &::after{
        //     content:'';
        //     cursor: pointer;
        //     position: absolute;
        //     top: 50%;
        //     left: -15%;
        //     background: url('/assets/svg/fish.svg');
        //     font-size: 2rem;
        //     line-height: 1.2;
        //     font-weight: 600;
        //     transform: translateY(-50%);
        // }
    }
    & .btn{
        &--green{
            margin: 1rem;
            border: 1px solid @color-green;
            &:hover{
                background: @color-white;
                color:@color-green;
            }
        }
    }
    & &-top-menu{
        background: #C1C1C1;

    }

    // ELEMENTS
  
}