<!-- <section class="block wrapper"> -->
  <carousel class="carousel">
    <slide class="carousel__item">
      <img class="carousel__item-img" src="assets/img/slider/boat.jpg" alt="first slide">
    </slide>
    <slide class="carousel__item">
      <img class="carousel__item-img" src="assets/img/slider/summer.jpg" alt="second slide">
    </slide>
    <slide class="carousel__item">
      <img class="carousel__item-img" src="assets/img/slider/food.jpg" alt="third slide">
    </slide>
    <slide class="carousel__item">
      <img class="carousel__item-img" src="assets/img/slider/brige.jpg" alt="third slide">
    </slide>
    <slide class="carousel__item">
      <img class="carousel__item-img" src="assets/img/slider/plate.jpg" alt="third slide">
    </slide>
  </carousel>
<!-- </section> -->