.posts {
  padding: 2rem 0;
}
.posts .posts-card {
  flex-basis: 30%;
}
.posts .posts-card__img {
  height: 270px;
  margin-bottom: 1.5rem;
}
.posts .posts-card__link {
  right: 0;
  bottom: -10px;
}
.posts .subtitle {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.posts .text {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1rem;
}
