<div class="grid">
  <form class="form col--1-3 push--1-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
 
    <label class="label" for="email">Your email</label>
    <input
      class="input"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      formControlName="email"
      type="email"
      name="email"
      placeholder="E-mail"    
    />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
    
    <label class="label" for="password">Password</label>
    <input
      class="input"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      formControlName="password"
      type="password"
      name="password"
      placeholder="Password"    
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>

    <div class="checkbox">
      <input class="checkbox__input" type="checkbox" id="save user" formControlName="chekSave">
      <label class="checkbox__label" for="save user">
        Save me
      </label>
    </div>
  
    <button class="btn btn--green" type="submit" [disabled]="loading" >Login</button>
    <button class="btn btn--red" type="button" (click)="goBack()">Back</button>
    <a [routerLink]="['/registration']" class="btn ">Register</a>
  </form>
</div>

