@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~swiper/dist/css/swiper.min.css';

@import 'scss/normalize.scss';
@import 'scss/colors.scss';

.flex,
.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col {
  display       : flex;
  flex-direction: column;
}

.align {
  &--center {
    align-items: center;
  }

  &--end {
    align-items: flex-end;
  }

  &--baseline {
    align-items: baseline;
  }
}

.justify {
  &--center {
    justify-content: center;
  }

  &--space-between {
    justify-content: space-between;
  }
}

.input-invalid {
  color: #f00;
}


.d-block {
  display: block;
}

.d-none {
  display: none;
}

p {
  &--relative {
    position: relative;
  }

  &--absolute {
    position: absolute;
  }
}

a, a:active, a:visited {
  color: #000;
  cursor: pointer;
}


button {

  &:hover,
  &:active {
    box-shadow: none;
    outline   : none;
    border    : none;
  }
}

svg {
  fill: currentColor;
}

.icon {
  &--sm {
    svg {
      width: 24px;
    }
  }

  &--md {
    svg {
      width: 32px;
    }
  }

  &--lg {
    svg {
      width: 40px;
    }
  }
}
